* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: '{{ font-family }}';
    font-size: 13px;
    color: {{ color_conv text }};
    background-color: {{ color_conv background }};
}

window#waybar {
    margin-top: 5px;
    border: none;
    border-radius: 0;
    min-height: 0;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
  margin-left: 8px;
  font-size: 12px;
}

.modules-right {
  margin-right: 8px;
  margin-top: 1px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 1px 1.5px 0 0;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#memory,
#network,
#language {
  min-width: 12px;
  margin: 1px 6px 0 4px;
}

#battery {
  min-width: 12px;
  margin: 1px 10px 0 4px;
}

#custom-power {
  margin: 0 6px 0 0;
}

#tray {
  margin: 0px 10px 0 4px;
}

#bluetooth {
  margin-right: 10px;
}

tooltip {
  padding: 2px;
}

#custom-media {
  margin: 1px 0 0 30px;
  padding: 2px 0 0 0;
}